# Build temporaries
.gradle
app/.externalNativeBuild
local.properties

# Dependencies
app/jni/fmt
app/jni/glm
app/jni/nlohmann
app/jni/protobuf
app/jni/SDL2
app/jni/SDL2_image
app/jni/SDL2_ttf

app/src/main/assets

# Android Studio
.idea/
*.iml

# Generated protobuf code files
app/jni/ocgcore-proto/*.h
app/jni/ocgcore-proto/*.cc
